*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  line-height: 1.618;
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

fieldset,
button {
  border: 0;
  margin-top: -20px;
}

/* layout of login section provided */
.login {
  min-width: 500px;
  height: 100%;
  padding: 100px;
  margin-top: 0px;
}

header h1 {
    padding-bottom: 70px;
}

.btn-active {
    font-size: 20px;
    font-weight: bold;
    background: none;
}

.btn-in-active {
    background: none;
}




input {
    height: 25px;
    margin-bottom: 8px;
    padding-left: 8px;
}

.btn-primary {
    background: green;
    color: white;
    height: 22px;
    width: 70px;
    margin-top: 15px;
}

ul {
    padding-top: 30px;
}

ul li {
    list-style: none;
    margin-left: 35px;
    margin-bottom: 8px;
}


/* layout of call-to-action section provided */
.call-to-action {
  width: calc(100% - 500px);
  height: 100%;
  background: rgb(24, 48, 89);
  color: white;
  padding: 190px;
}

img {
    position: absolute;
}


h2 {
    font-size: 40px;
    padding-bottom: 20px;
}
